.App {
  height: 100vh;
}

.body {
  width: fit-content;
  top: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  background: white;
  margin: auto;
}

.cell {
  border-top: 1px solid black;
  border-left: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 6rem;
}

.cell:nth-child(-n+2) {
  border-top: 1px solid black;
}

.cell:nth-child(odd) {
  border-left: 1px solid black;
}

.cell:nth-child(-n+3) {
  border-top: none;
}

.cell:nth-child(3n+1), .cell:first-child {
  border-left: none;
}